
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --Red: hsl(0, 100%, 74%) 
  --Green: hsl(154, 59%, 51%)
  --Blue: hsl(248, 32%, 49%)
  --Dark-Blue: hsl(249, 10%, 26%) 
  --Grayish-Blue: hsl(246, 25%, 77%)
}

.wrapper {
  background-color: var(--Red);
  
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid-middle{
  display: grid;
  grid-template-columns: 500px 500px ;
  grid-template-rows: 50px 400px;
  grid-auto-rows: 200px;
  gap: 1rem;
}

.bgimage {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire wrapper without stretching */
  z-index: -1; /* Places the image behind the content */
}


.box1, .box2 {

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box1{
  display: block;
  padding: 2rem;
  
  background-color: transparent;
  border: none;
}

.box2{
  display: block;
  
}

.header{
  max-width: 300px;
  padding-top: 3.5rem;
}

.paragraph{
  max-width: 420px;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

.firstName{
color: black;
display: block;
margin-top: 1.5rem;
height: 2rem;
border-radius: .3rem;
width: 95%;
}

.lastName{
  display: block;
  margin-top: 1.5rem;
  height: 2rem;
  border-radius: .3rem;
  width: 95%;
  }

.email{
  display: block;
  margin-top: 1.5rem;
  height: 2rem;
  border-radius: .3rem;
  width: 95%;
}

.password{
  display: block;
  margin-top: 1.5rem;
  height: 2rem;
  border-radius: .3rem;
  width: 95%;
}

.claim{
  display: block;
  margin-top: 1.5rem;
  color: white;
  border-color: none;
  width: 97%;
  height: 2rem;
  background-color: hsl(154, 59%, 51%) ;
  border-Radius: .3rem;
  border: none;
}

.trialButton{
 background-color: hsl(248, 32%, 49%);
color: white;
border: none;
border-radius: .3rem;
}

.lilRedText{
  color: red;
  font-size: 11px;
  justify-content: right;
  align-items: right;
  visibility: hidden;
}